<div class="footer-modal-overlay modal-overlay">
  <div class="footer-modal modal-content">
    <div class="footer-modal__item modal-content__item">
      <span class="icon photo"></span>
      <span class="text">Photo / Video</span>
    </div>
    <div class="footer-modal__item modal-content__item">
      <span class="icon file"></span>
      <span class="text">File</span>
    </div>
     <div class="footer-modal__item modal-content__item">
      <span class="icon location"></span>
      <span class="text">Location</span>
    </div>
  </div>
</div>