<footer id="footer" class="footer">
  <form action="#" method="POST" class="footer__form">
    <div class="footer__input-group">
      <button class="footer__open-modal-btn" type="button"></button>
      <input class="footer__send-input" type="text" placeholder="Write a message">
      <button class="footer__send-btn" type="submit"></button>
    </div>
  </form>
    {{> footerModal}}
</footer>