<footer id="footer" class="footer">
  <div class="footer__input-group">
    <span class="clip-icon"></span>
    <input class="send-input" type="text" placeholder="Write a message">
    <span class="send__icon"></span>
  </div>
    {{> footerModal}}
</footer>