<article id="chat">
  <aside id="sidebar">
    <h3>Sidebar</h3>
  </aside>
  <section id="main">
    {{> header}}
    <main id="main-content"><h1>Main</h1></main>
    {{> footer}}
  </section>
</article>