<article id="chat">
  <aside id="sidebar">
    <h3>Sidebar</h3>
  </aside>
  <section id="main">
    {{> header}}
    <main id="main-content"><h1>Main</h1></main>
    <footer id="footer">
      <h4>Footer</h4>
    </footer>
  </section>
</article>