<div class="edit-password-modal-overlay modal-overlay">
  <div class="edit-password-modal modal-content profile-modal">
    <header class="profile-modal__header">
      <div class="top">
        <span class="close"></span>
      </div>
      <div class="bottom">
          <span class="bottom__text">Change your Password</span>
        </span>

      </div>
    </header>
    <main class="profile-modal__content">
      <form class="profile-modal__form modal-form" action="#" method="POST">
        <div class="modal-form__inputs">
          <div class="left-block">
            <span class="left-block__icon left-block__icon_key"></span>
          </div>
          <div class="right-block">
            <div class="input-group">
              <input id="edit-surname" type="password" placeholder="Enter your old password" value="password">
              <label for="edit-surname">Old password</label>
            </div>

            <div class="input-group">
              <input id="edit-name" type="password" placeholder="Enter your new password" value="new_password">
              <label for="edit-name">New password</label>
            </div>

            <div class="input-group">
              <input id="edit-name" type="password" placeholder="Enter your new password" value="new_password">
              <label for="edit-name">Repeat new password</label>
            </div>
          </div>
        </div>
        <button class="modal-form__button profile-modal-button">Save changes</button>
      </form>
    </main>
    
  </div>
</div>