<div class="edit-profile-modal-overlay modal-overlay">
  <div class="edit-profile-modal modal-content profile-modal">
    <header class="profile-modal__header">
      <div class="top">
        <button class="close" type="button"></button>
      </div>
      <div class="bottom">
        <span class="avatar">
          <span class="avatar__icon"></span>
        </span>

        <div class="upload-button-group">
          <input type="file" id="upload-avatar">
          <label class="profile-modal-button" for="upload-avatar" >Set profile photo</label>
        </div>
      </div>
    </header>
    <main class="profile-modal__content">
      <form class="profile-modal__form modal-form" action="#" method="POST">
        <div class="modal-form__inputs">
          <div class="left-block">
            <span class="left-block__icon left-block__icon_man"></span>
          </div>
          <div class="right-block">
            <div class="input-group">
              <input id="edit-surname" type="text" placeholder="Enter your surname" value="Mask">
              <label for="edit-surname">Surname</label>
            </div>

            <div class="input-group">
              <input id="edit-name" type="text" placeholder="Enter your name" value="Ilon">
              <label for="edit-name">Name</label>
            </div>
          </div>
        </div>

          <div class="modal-form__inputs">
          <div class="left-block">
            <span class="left-block__icon left-block__icon_dog"></span>
          </div>
          <div class="right-block">
            <div class="input-group">
              <input id="edit-surname" type="text" placeholder="Enter your surname" value="Iamgodofspace">
              <label for="edit-surname">Login</label>
            </div>

            <div class="input-group">
              <input id="edit-name" type="text" placeholder="Enter your name" value="Ilon">
              <label for="edit-name">Chat name</label>
            </div>
          </div>
        </div>

          <div class="modal-form__inputs">
          <div class="left-block">
            <span class="left-block__icon left-block__icon_phone-book"></span>
          </div>
          <div class="right-block">
            <div class="input-group">
              <input id="edit-surname" type="text" placeholder="Enter your e-mail" value="ilon@mask">
              <label for="edit-surname">E-mail</label>
            </div>

            <div class="input-group">
              <input id="edit-name" type="text" placeholder="Enter your phone" value="+7(999)899-11-11">
              <label for="edit-name">Phone</label>
            </div>
          </div>
        </div>
        <button class="modal-form__button profile-modal-button" type="submit">Save changes</button>
      </form>
    </main>
    
  </div>
</div>