<div id="sign-up" class="card-page">
  <div class="card">
    <div class="card__content">
      <div class="card__logo"></div>
      <div class="card__title">Sign Up</div>
      <form class="card__form form" action="#" >
        <div class="form__input-group input-group">
          <label class="input-group__label" for="login">Login</label>
          <input class="input-group__input" type="text" id="login" placeholder="Enter your login or e-mail">
        </div>
      
        <div class="form__input-group input-group">
          <label class="input-group__label" for="password">Password</label>
          <input class="input-group__input" type="password" id="password" placeholder="Enter your password">
        </div>
      
        <button class="form__submit-btn ripple" type="submit">Create you account</button>
      </form>
      
      <button class="card__link">Sign In</button>
      </div>
    </div>
</div>