.edit-password-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  .edit-password-modal {
    top: 20%;
    .profile-modal__header {
      .bottom {
        padding-top: 4.2em;
        padding-bottom: 4.2em;
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: $main-purple;
        }
      }
    }

    .modal-form {
      &__inputs {
        .left-block {
          &__icon {
            &_key {
              @include svgAsBgi(3.2rem, 3.2rem, '../../src/assets/img/icons/password_icon.svg')
            }
          }
        }
      }
    }
  }
}