<div class="confirm-del-modal-overlay modal-overlay">
  <div class="confirm-del-modal modal-content">
    <div class="confirm-del-modal__container">
      <span class="emoji">&#128562;</span>
      <p class="text">Are you sure <br> want to delete the user?</p>
      <div class="buttons-block">
        <button class="buttons-block__btn buttons-block__btn_accept" type="button">Yes, shure</button>
        <button class="buttons-block__btn buttons-block__btn_cancel" type="button">Oh, I accidentally pressed</button>
      </div>
    </div>
    
  </div>
</div>