<div class="header-modal-overlay modal-overlay">
  <div class="header-modal modal-content">
    <div id="delete-chat" class="header-modal__item modal-content__item">
      <span class="icon delete"></span>
      <span class="text">Delete chat</span>
    </div>
    <div class="header-modal__item modal-content__item">
      <span class="icon edit"></span>
      <span class="text">Edit chat</span>
    </div>
  </div>
</div>