<div id="root">
    <div class="welcome-content">
      {{> hello }}
    </div>
</div>

<div class="buttons-box">
  <button id="login">Login</button>
  <button id="create-btn">Create Account</button>
  <button id="go-to-error404">Error-404</button>
  <button id="go-to-error5xx">Error-500</button>
  <button id="go-to-chat">Go to Chat</button>
</div class="buttons-box">
