$main-color: #007bff;
$main-yellow: #CAAE19;
$main-brown: rgba(44, 44, 44, 0.8);
$main-purple: #645188;

$error-color: #F9294E;
$error-page-text: #294EF9;

// CHAT 
$from-bg-color: rgba(255, 240, 105, 0.43);
$to-bg-color: rgba(212, 242, 155, 0.72);
$nextTo-bg-color: rgba(130, 245, 252, 0.68);

$header-title: rgba(255, 255, 255, 0.75);

$section-shadow: rgba(0, 0, 0, 0.1);

$sidebar-bg: #FAF9F9;
$sidebar-header-border: rgba(44, 44, 44, 0.05);
$sidebar-search-bg: rgba(44, 44, 44, 0.11);
$sidebar-chat-name: rgba(44, 44, 44, 1);
$sidebar-chat-avatar: #C4C4C4;
$sidebar-text-preview: rgba(0, 0, 0, 0.5);

$footer-bg: #fff;
$footer-input-border: rgba(0, 0, 0, 0.13);
$input-placeholder: rgba(0, 0, 0, 0.5);

$modal-cofirm-accept: #528881;
$modal-cofirm-cancel: #885159;

$edit-password: #17A2B8;
$logout-btn: #DC3545;