#header {
  position: relative;
  padding: clamp(1.2rem, 1.5vw, 1.6rem) clamp(1.5rem, 2vw, 2.2rem);
  background-color: $main-brown;
  box-shadow: 0px 0px 2px 1px $section-shadow;

  &.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chat-header {
    &__title-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .chat-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $header-title;
        margin-right: clamp(1rem, 1.8vw, 1.5rem)
      }

      .chat-status {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $main-yellow;
      }
    }

    &__settings {
      @include svgAsBgi(2.4rem, 2.4rem, '../../src/assets/img/icons/settings-icon.svg');
    }
  }
}