<header id="header" class="chat-header">
  <div class="chat-header__title-block">
    {{!-- <span class="chat-title">Yandex Practicum</span>
    <span class="chat-status">online</span> --}}
    {{ currentChatInfo title status}}
  </div>
  <span class="chat-header__settings"></span>
</header>