<header id="header" class="chat-header">
  <div class="chat-header__title-block">

    {{ currentChatInfo title status}}
  </div>
  <button class="chat-header__settings"></button>
  {{> headerModal}}
   {{> confirmDelModal}}
</header>